.div1, .div2 {
	width: 100px;
	height: 100px;
}
.div1 {
	background: red;
}
.div2 {
	visibility: hidden;
	background: yellow;
}
.div1:hover + .div2 {
	visibility: initial;
}

.redCircle {
	width: 20px;
	height: 20px;
	border-radius: 10px;
	border-width: 1px;
	border-color: red;
	border-style: solid;
}
